@model E_CommerceApi.Models.dbModels.AttributeType
<div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Attribute Type</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<section class="content">
					<div class="container-fluid">
						<div class="row">
							<!-- left column -->
							<div class="col-md-12">
								<!-- jquery validation -->
								<div class="card card-primary">
									<div class="card-header">
										<h3 class="card-title">Add Attribute Type</h3>
									</div>
									<!-- /.card-header -->
									<!-- form start -->
									<form id="quickForm">
										<div class="card-body">
											<div class="form-group">
												<label for="exampleInputEmail1">Name</label>
												<input asp-for="AttributeTypeName" class="form-control" />
												<span asp-validation-for="AttributeTypeName" class="text-danger"></span>
											</div>
											<div class="form-group row">
												<div class="col-md-6">
													<label asp-for="IsActive" class="control-label"></label>
													<input name="IsActive" type="checkbox" class="" />
													<span asp-validation-for="IsActive" class="text-danger"></span>
												</div>
												<div class="col-md-6">
													<label asp-for="IsTrashed" class="control-label"></label>
													<input name="IsTrashed" type="checkbox" class="" />
													<span asp-validation-for="IsTrashed" class="text-danger"></span>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-md-6">
													<label asp-for="IsDeleted" class="control-label"></label>
													<input name="IsDeleted" type="checkbox" class="" />
													<span asp-validation-for="IsDeleted" class="text-danger"></span>
												</div>
												<div class="col-md-6">
													<label asp-for="IsSearchable" class="control-label"></label>
													<input name="IsSearchable" type="checkbox" class="" />
													<span asp-validation-for="IsSearchable" class="text-danger"></span>
												</div>
											</div>
										</div>
										<!-- /.card-body -->
										<div class="card-footer">
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
									</form>
								</div>
								<!-- /.card -->
							</div>
							<!--/.col (left) -->
							<!-- right column -->
							<div class="col-md-6">
							</div>
							<!--/.col (right) -->
						</div>
						<!-- /.row -->
					</div><!-- /.container-fluid -->
				</section>
			</div>

		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*<div class="row">
	<div class="col-md-12">
	<form asp-action="Default">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
	<label asp-for="AttributeTypeName" class="control-label"></label>
	<input asp-for="AttributeTypeName" class="form-control" />
	<span asp-validation-for="AttributeTypeName" class="text-danger"></span>
	</div>
	<div class="row">
	<div class="col-md-6">
	<label asp-for="IsActive" class="control-label"></label>
	<input name="IsActive" type="checkbox" class="form-control" />
	<span asp-validation-for="IsActive" class="text-danger"></span>
	</div>
	<div class="col-md-6">

	<label asp-for="IsTrashed" class="control-label"></label>
	<input name="IsTrashed" type="checkbox"  class="form-control" />
	<span asp-validation-for="IsTrashed" class="text-danger"></span>
	</div>
	</div>
	<div class="form-group">
	<label asp-for="IsDeleted" class="control-label"></label>
	<input asp-for="IsDeleted" class="form-control" />
	<span asp-validation-for="IsDeleted" class="text-danger"></span>
	</div>
	<div class="form-group">
	<label asp-for="IsSearchable" class="control-label"></label>
	<input asp-for="IsSearchable" class="form-control" />
	<span asp-validation-for="IsSearchable" class="text-danger"></span>
	</div>
	<div class="form-group">
	<label asp-for="DateCreated" class="control-label"></label>
	<input asp-for="DateCreated" class="form-control" />
	<span asp-validation-for="DateCreated" class="text-danger"></span>
	</div>
	<div class="form-group">
	<label asp-for="DateModified" class="control-label"></label>
	<input asp-for="DateModified" class="form-control" />
	<span asp-validation-for="DateModified" class="text-danger"></span>
	</div>
	<div class="form-group">
	<label asp-for="CreatedBy" class="control-label"></label>
	<input asp-for="CreatedBy" class="form-control" />
	<span asp-validation-for="CreatedBy" class="text-danger"></span>
	</div>
	<div class="form-group">
	<label asp-for="ModifiedBy" class="control-label"></label>
	<input asp-for="ModifiedBy" class="form-control" />
	<span asp-validation-for="ModifiedBy" class="text-danger"></span>
	</div>
	<div class="modal-footer justify-content-between">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary">Save changes</button>
	</div>
	</form>
	</div>
	</div>*@